# Build folders
/bin/
/obj/
/out/

# Visual Studio / Rider / VS Code temporary files
.vs/
.vscode/
.idea/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET Core / .NET 5+ artifacts
project.lock.json
artifacts/

# Logs
*.log
logs/

# NuGet packages
*.nupkg
packag
